/*
#d7cddb - bg
*/
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Project-Management{
    background-color: #d7cddb;
    padding: 0 1rem;
    font-family: "Cabin", "Andika","Nunito Sans", "Montserrat",   sans-serif;
}